.link{
  display: flex;
  align-items: center;
  padding: 10px 47.5%;
  background: var(--back-btn);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Roboto';
  text-decoration: none;
  transition: all .6s ;
  margin: auto;
}

.link:hover{
  background: #323940;
  font-size: 16px;
  padding: 9.8px 46.8%;
}

.link:visited{
  text-decoration: none;
}

.edit{
  margin: 10px 0px;
}