.link{
  display: flex;
  align-items: center;
  padding: 10px 46%;
  background: var(--back-btn);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Roboto';
  text-decoration: none;
}